:root {
    font-family: 'Inter', sans-serif;
    --background-color: #000;
    --text-color: #CCC;
    --link-color: #1AA7EC;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: 'Inter var', sans-serif;
    }
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

hr{
    color: transparent;
    border-top: 2px dashed var(--text-color);
}

a {
    color: var(--link-color);
}