:root {
    --font-color: #FFF;
    --background-color: #000;
}

/* BEGIN CSS RESET; https://www.joshwcomeau.com/css/custom-css-reset/ */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

/* END CSS RESET */

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--font-color);
    text-align: center;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: var(--background-color);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.row img {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.fine-print{
    position: fixed;
    left: 10px;
    bottom: 10px;

    text-decoration: none;
    color: var(--font-color);
    font-size: small;
}